.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(610px, auto);
    grid-gap:10px;
}
.box1{
    background-color: #60e382d6;
}
.box2, .box3, .box4, .box5, .box6{ 
    display: grid;
    grid-gap: 10px;
    
}
.item{
    background-color: #60e382d6;
}